body {
    background-image: url('../images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;

    padding: 2% 14%;

    font-family: 'Roboto', sans-serif;

    
}

a {
    text-decoration: none;
}
span {
    color: #ff6347;
    font-weight: bold;
}