.main {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin: 19% 5%;
    
    &__content {
        width: 40%;
        color: white;
        padding: 5% 5%;
    }

    &__image-container {
        background-image: url('../images/fon.png');
        background-size: cover;
        width: 30%;
        padding: 5%;
        display: flex;
        align-items:flex-end;
        justify-content: center;
        flex-direction: row;
        border-radius: 50px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    &__title {
        font-size: 45px;
        padding-top: 60px;
        margin-bottom: 90px;
    }

    &__subtitle {
        font-size: 35px;
        margin-bottom: 70px;
    }

    &__paragraph {
        font-size: 20px;
        color: #a0a0a0;
        margin-bottom: 90px;
    }

    &__image-overlay {
        border-radius: 19px;
        padding: 5px 20px;
        display: flex;
        flex-direction: column;
        background-color:#27272aad;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
    }
    &__image-text {
        color: white;
        font-size: 20px;
        padding-bottom: 10px;
    }
    &__image-subtext {
        margin: 0px;
        color: white;
        font-size: 20px;
        padding-bottom: 10px;
    }
    &__image-buttons {
        width: 100%;  
        border-radius: 20px;
        padding: 20px 0;
        display: flex;
        align-items: center;
        Justify-content: space-around;
    }
    &__image-img {
        width: 100%;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    &__image-link {
        width: 40%;
    }
}
